Repository drop-the-bit/venus: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format, yarn format

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["yarn lint, yarn format"],
  "*.{md,json}": ["yarn format"]
}

chore: change prettier config
  .prettierrc
Due: none

feat: add WidgetArea, TitleWidget component
  components/WidgetArea/index.tsx
  components/widgets/TitleWidget/index.tsx
  components/widgets/TitleWidget/style.module.css
  components/widgets/types/index.ts
  pages/_app.tsx
  pages/api/hello.ts
  pages/index.tsx
  pages/sample.tsx
  styles/globals.css
  tsconfig.json
  types/index.ts
  types/widget-meta.ts
Due: yarn lint, yarn format, yarn format

feat: add widgets
  commitlint.config.js
  components/WidgetArea/index.tsx
  components/widgets/ButtonWidget/index.tsx
  components/widgets/ImageWidget/index.tsx
  components/widgets/InputWidget/index.tsx
  components/widgets/LayoutWidget/index.tsx
  components/widgets/LayoutWidget/style.module.css
  components/widgets/TitleWidget/index.tsx
  components/widgets/VideoWidget/index.tsx
  components/widgets/types/index.ts
  helpers/renderWidget.tsx
  pages/index.tsx
  public/cat-run.mp4
  types/widget-meta.ts
Due: yarn lint, yarn format

feat: apply sass
  .lintstagedrc.json
  components/widgets/LayoutWidget/index.tsx
  components/widgets/LayoutWidget/style.module.scss
  components/widgets/TitleWidget/index.tsx
  components/widgets/TitleWidget/style.module.scss
  next.config.js
  package.json
  pages/_app.tsx
  styles/Home.module.scss
  styles/globals.scss
  yarn.lock
Due: yarn lint, yarn format, yarn format

feat: add list page
  components/GameCard/default-thumbnail.png
  components/GameCard/index.tsx
  components/GameCard/style.module.scss
  constants/mockList.ts
  package.json
  pages/[id].tsx
  pages/index.tsx
  pages/style.module.scss
  styles/Home.module.scss
  styles/globals.scss
  types/game-info.ts
  types/index.ts
  types/response.ts
  yarn.lock
Due: yarn lint, yarn format, yarn format

feat: add detail view
  pages/[id].tsx
Due: yarn lint, yarn format

fix: dist 디렉토리 gitignore에서 제거
  .gitignore
  dist/assets/index-9_sxcfan.js
  dist/assets/index-D8b4DHJx.css
  dist/assets/react-CHdo91hT.svg
  dist/index.html
  dist/vite.svg
Due: none

fix: dist 디렉토리 gitignore에 추가
  .gitignore
Due: none

fix: remove dist
  dist/assets/index-9_sxcfan.js
  dist/assets/index-D8b4DHJx.css
  dist/assets/react-CHdo91hT.svg
  dist/index.html
  dist/vite.svg
Due: none

feat: export 스크립트 추가 및 github action 추가
  .github/workflows/export.yml
  package.json
Due: yarn format

fix: github action
  .github/workflows/export.yml
  .gitignore
Due: none

fix: github action
  .github/workflows/export.yml
Due: none

fix: add base config on vite
  vite.config.ts
Due: yarn lint, yarn format

fix: build script
  package.json
  pnpm-lock.yaml
Due: yarn format

feat: test
  src/App.css
  src/App.tsx
Due: yarn lint, yarn format

feat: js interface button
  src/App.tsx
  src/type.d.ts
  src/webview/showAlert.ts
Due: yarn lint, yarn format

chore: cleaning
  src/webview/showAlert.ts
Due: yarn lint, yarn format
